[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "*"
pylint = "*"
google-cloud-datastore = "*"
pytz = "*"
google-cloud-storage = "*"

[dev-packages]
pip = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.11"
