-i https://pypi.org/simple
astroid==3.2.4 ; python_full_version >= '3.8.0'
beautifulsoup4==4.12.3
blinker==1.8.2 ; python_version >= '3.8'
cachetools==5.4.0 ; python_version >= '3.7'
certifi==2024.7.4 ; python_version >= '3.6'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
dill==0.3.8 ; python_version >= '3.11'
flask==3.0.3
google-api-core[grpc]==2.19.1 ; python_version >= '3.7'
google-auth==2.33.0 ; python_version >= '3.7'
google-cloud-core==2.4.1 ; python_version >= '3.7'
google-cloud-datastore==2.20.1
googleapis-common-protos==1.63.2 ; python_version >= '3.7'
grpcio==1.65.4
grpcio-status==1.65.4
idna==3.7 ; python_version >= '3.5'
isort==5.13.2 ; python_full_version >= '3.8.0'
itsdangerous==2.2.0 ; python_version >= '3.8'
jinja2==3.1.4 ; python_version >= '3.7'
markupsafe==2.1.5 ; python_version >= '3.7'
mccabe==0.7.0 ; python_version >= '3.6'
platformdirs==4.2.2 ; python_version >= '3.8'
proto-plus==1.24.0 ; python_version >= '3.7'
protobuf==5.27.3 ; python_version >= '3.8'
pyasn1==0.6.0 ; python_version >= '3.8'
pyasn1-modules==0.4.0 ; python_version >= '3.8'
pylint==3.2.6
pytz==2024.1
requests==2.32.3
rsa==4.9 ; python_version >= '3.6' and python_version < '4'
soupsieve==2.6 ; python_version >= '3.8'
tomlkit==0.13.2 ; python_version >= '3.8'
urllib3==2.2.2 ; python_version >= '3.8'
werkzeug==3.0.3 ; python_version >= '3.8'
